[submodule "lib/CRSFforArduino"]
	path = lib/CRSFforArduino
	url = https://github.com/tzshin/CRSFforArduino.git
[submodule "lib/TinyGPSPlus"]
	path = lib/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
[submodule "lib/TFMini-Plus"]
	path = lib/TFMini-Plus
	url = https://github.com/budryerson/TFMini-Plus.git
